<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/FiltradoTexto.css">
    <title>Distribuidora Jireh</title>
</head>

<body>
    <!--HEADER-->
    <header>
        <!--Logo Jireh-->
        <div class="logo">
            <img src="../images/Iconos/Logo.png" alt="logo Jireh" class="logo-img" />
        </div>
        <!--Barra Busqueda-->
        <form>
            <div class="search">
                <span><img src="../images/Iconos/search.png" alt="Imagen Busqueda" /></span>
                <input id="search-input" class="search-input" type="search" placeholder="Buscar">
            </div>
        </form>
        <!--Links del Header-->
        <nav class="header-nav">
            <a href="./Index.html" class="header-link">Inicio</a>
            <a href="./AcercaDe.html" class="header-link">Acerca de</a>
            <a href="./Contactanos.html" class="header-link">Contáctanos</a>
            <a href="./Login.html" class="header-link">Iniciar Sesión</a>
            <a href="javascript:void(0)" id="favoritos-icon">
                <img src="../images/Iconos/heart.png" alt="corazon-icon" />
            </a>
            <a href="javascript:void(0)" id="carrito-icon">
                <img src="../images/Iconos/cart.png" alt="carrito-compras-icon" />
            </a>
            <a href="javascript:void(0)" id="usuario-icono">
                <img src="../images/Iconos/user.png" alt="user-icon" />
            </a>
            <div id="usuario-info" class="usuario-info oculto">
                <span id="usuario-texto"></span>
                <button id="cerrar-usuario-info" class="cerrar-btn">&times;</button>
            </div>
        </nav>
    </header>

    <!--BOTONES CATEGORÍAS-->
    <div class="category-menu">
        <button class="category" onclick="navegarConLoader('../views/Index.html')">Alimentos <img
                src="../images/Iconos/down-arrow.png" /></button>
        <button class="category" onclick="navegarConLoader('../views/Bebidas.html')">Bebidas <img
                src="../images/Iconos/down-arrow.png" /></button>
        <button class="category active" onclick="navegarConLoader('../views/ProductosLimpieza.html')">Productos de
            Limpieza
            <img src="../images/Iconos/down-arrow.png" /></button>
        <button class="category" onclick="navegarConLoader('../views/CuidadoPersonal.html')">Cuidado Personal <img
                src="../images/Iconos/down-arrow.png" /></button>
        <button class="category" onclick="navegarConLoader('../views/ProductosBasicos.html')">Productos Básicos <img
                src="../images/Iconos/down-arrow.png" /></button>
        <button class="category" onclick="navegarConLoader('../views/ProductosHogar.html')">Productos para el Hogar <img
                src="../images/Iconos/down-arrow.png" /></button>
        <button class="category" onclick="navegarConLoader('../views/Salud.html')">Salud <img
                src="../images/Iconos/down-arrow.png" /></button>
        <button class="category" onclick="navegarConLoader('../views/ArticulosBebe.html')">Artículos para Bebés <img
                src="../images/Iconos/down-arrow.png" /></button>
    </div>

    <!--BOTON MEJORES OFERTAS (CARRUSEL)-->
    <section class="carrusel-container">
        <div class="carrusel-track-wrapper">
            <div class="carrusel-track">
                <!--Productos del carrusel-->
                <div class="carrusel-content">
                    <div class="text-content">
                        <p>Mejores Ofertas</p>
                        <h2>Detergente Swift Liquido</h2>
                        <p>A tan solo 68 C$</p>
                    </div>
                    <img src="../images/Productos de Limpieza/Detergente Swift.png" alt="Detergente Swift"
                        class="product-image" />
                </div>

                <div class="carrusel-content">
                    <div class="text-content">
                        <p>Mejores Ofertas</p>
                        <h2>Detergente en polvo Ultraklin 1000g</h2>
                        <p>A tan solo 27 C$</p>
                    </div>
                    <img src="../images/Productos de Limpieza/Detergente Ultra Klim.png" alt="Detergente Ultraklin"
                        class="product-image" />
                </div>

                <div class="carrusel-content">
                    <div class="text-content">
                        <p>Mejores Ofertas</p>
                        <h2>Suavizante Terso 720ml</h2>
                        <p>A tan solo 62 C$</p>
                    </div>
                    <img src="../images/Productos de Limpieza/Suavizante-Terso.png" alt="Suavizante-Terso"
                        class="product-image" />
                </div>

                <div class="carrusel-content">
                    <div class="text-content">
                        <p>Mejores Ofertas</p>
                        <h2>Jabón Bola Verde Zixx 350g</h2>
                        <p>A tan solo 44 C$</p>
                    </div>
                    <img src="../images/Productos de Limpieza/Jabon Zixx.png" alt="Jabon Zixx" class="product-image" />
                </div>

                <div class="carrusel-content">
                    <div class="text-content">
                        <p>Mejores Ofertas</p>
                        <h2>Vanish Quitamanchas Gel Rosa</h2>
                        <p>A tan solo 35 C$</p>
                    </div>
                    <img src="../images/Productos de Limpieza/Vanish-Quitamanchas-Gel.png" alt="Vanish-Quitamanchas-Gel"
                        class="product-image" />
                </div>
            </div>
        </div>

        <div class="carrusel-button left">
            <img src="../images/Iconos/left-chevron.png" />
        </div>
        <div class="carrusel-button right">
            <img src="../images/Iconos/chevron.png" />
        </div>

        <!--Puntos de la zona inferior del carrusel-->
        <div class="carrusel-dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </section>

    <!--SECTION DE LAS OFERTAS-->
    <!--PRODUCTOS DESTACADOS PRODUCTOS DE LIMPIEZA-->
    <section class="destacados">
        <div class="destacados-header">
            <h2>Todas las ofertas en productos de limpieza</h2>
        </div>

        <div class="productos-grid">
            <div class="producto">
                <img src="../images/Productos de Limpieza/Jabon-Xtra-Aloe-Vera.png" alt="Jabon-Xtra-Aloe-Vera">
                <p class="nombre">Jabón Xtra Aloe Vera 3 unidades</p>
                <p class="precio">40 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Detergente Ultra Klim.png" alt="Detergente Klin">
                <p class="nombre">Detergente en polvo Ultraklin 1000g</p>
                <p class="precio">27 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Desinfectante-Marfil-Lavanda.png"
                    alt="Desinfectante-Marfil-Lavanda">
                <p class="nombre">Desinfectante Marfil Lavanda 900ml</p>
                <p class="precio">36 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Detergente Xedex.png" alt="Xedex">
                <p class="nombre">Detergente Xedex Multiacción 500g</p>
                <p class="precio">35 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Jabon Zixx.png" alt="Jabon Zixx">
                <p class="nombre">Jabón Bola Verde Zixx 350g</p>
                <p class="precio">44 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Vanish-Quitamanchas-Gel.png" alt="Vanish-Quitamanchas-Gel">
                <p class="nombre">Vanish Quitamanchas Gel Rosa</p>
                <p class="precio">35 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/jabon rinso.png" alt="Jabon Rinso">
                <p class="nombre">Jabón Lavaplatos Rinso</p>
                <p class="precio">25 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Suavizante-Terso.png" alt="Suavizante-Terso">
                <p class="nombre">Suavizante Terso 720ml</p>
                <p class="precio">62 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/detergente blancanieves.png" alt="Detergente Blancanieves">
                <p class="nombre">Detergente Blancanieves 250g</p>
                <p class="precio">25 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Magia-Blanca.png" alt="Magia-Blanca">
                <p class="nombre">Cloro Magia Blanca 200ml</p>
                <p class="precio">10 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Detergente Swift.png" alt="Detergente Swift">
                <p class="nombre">Detergente Swift Liquido 900ml</p>
                <p class="precio">68 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Detergente-Espumil.png" alt="Detergente-Espumil">
                <p class="nombre">Detergente Espumil 500g</p>
                <p class="precio">37 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Detergente Xedex.png" alt="Detergente Xedex">
                <p class="nombre">Detergente Xedex 500g</p>
                <p class="precio">30 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Detergente-Surf.png" alt="Detergente-Surf">
                <p class="nombre">Detergente Surf 400g</p>
                <p class="precio">35 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Suavizante_Swift.png" alt="Suavizante_Swift">
                <p class="nombre">Suavizante Swift 800ml</p>
                <p class="precio">43 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Desinfectante-Marfil-Lavanda.png"
                    alt="Desinfectante-Marfil-Lavanda">
                <p class="nombre">Desinfectante Marfil Lavanda 450ml</p>
                <p class="precio">36 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/KLINPIAX®-Limón.png" alt="KLINPIAX®-Limón">
                <p class="nombre">Jabón Lavaplatos Klinpiax 425g</p>
                <p class="precio">28 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Desinfectante_Azistin.png" alt="Desinfectante_Azistin">
                <p class="nombre">Desinfectante Azistin</p>
                <p class="precio">13 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Jabon_Marfil_und.png" alt="Jabon_Marfil_und">
                <p class="nombre">Jabon Marfil Unidad 275g</p>
                <p class="precio">36 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/detergente blancanieves.png" alt="detergente blancanieves">
                <p class="nombre">Detergente Blancanieves 250g</p>
                <p class="precio">25 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Jabon_Marfil.png" alt="Jabon_Marfil">
                <p class="nombre">Jabon Marfil 3 unidades</p>
                <p class="precio">44 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Vanish-Quitamanchas-Gel.png" alt="Vanish-Quitamanchas-Gel">
                <p class="nombre">Gel Vanish Quitamanchas</p>
                <p class="precio">35 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Cloro_Acticlo.png" alt="Cloro_Acticlo">
                <p class="nombre">Cloro Anticloro Unidad</p>
                <p class="precio">7 C$</p>
            </div>

            <div class="producto">
                <img src="../images/Productos de Limpieza/Cloro-Irex.png" alt="Cloro-Irex">
                <p class="nombre">Cloro Irex Unidad</p>
                <p class="precio">8 C$</p>
            </div>
    </section>

    <!--FOOTER-->
    <footer class="footer">
        <div class="footer-container">
            <!-- Columna 1 -->
            <div class="footer-column">
                <h2>Distribuidora Jireh</h2>
                <h3>Contáctanos</h3>
                <p>📱 Whats App<br><span>+502 8182-1278</span></p>
                <p>📞 Llamanos<br><span>+502 8182-1278</span></p>
            </div>

            <!-- Columna 2 -->
            <div class="footer-column">
                <h3>Categorías Populares</h3>
                <ul>
                    <li><a href="./Index.html">Alimentos</a></li>
                    <li><a href="./Bebidas.html">Bebidas</a></li>
                    <li><a href="./ProductosLimpieza.html">Productos de Limpieza</a></li>
                    <li><a href="./CuidadoPersonal.html">Cuidado Personal</a></li>
                    <li><a href="./ProductosBasicos.html">Productos Básicos</a></li>
                    <li><a href="./ProductosHogar.html">Productos para el Hogar</a></li>
                    <li><a href="./Salud.html">Salud</a></li>
                    <li><a href="./ArticulosBebe.html">Artículos para Bebés</a></li>
                </ul>
            </div>

            <!-- Columna 3 -->
            <div class="footer-column">
                <h3>Customer Services</h3>
                <ul>
                    <li>Contáctanos</li>
                    <li>Terms & Conditions</li>
                    <li>FAQ</li>
                    <li>Privacy Policy</li>
                    <li>E-waste Policy</li>
                    <li>Cancellation & Return Policy</li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            © 2025 All rights reserved. Reliance Retail Ltd.
        </div>
    </footer>

    <!--CARRITO DE COMPRAS-->
    <div id="carrito-popup" class="carrito-popup oculto">
        <h3>Carrito</h3>
        <ul id="carrito-lista" class="carrito-lista"></ul>
    </div>

    <!--MENSAJE DE PRODUCTO AGREGADO AL CARRITO-->
    <div id="mensaje-toast" class="toast oculto"></div>

    <!--LOADER (PANTALLA DE CARGA)-->
    <div id="loader" class="loader oculto">
        <div class="loader-content">
            <div class="spinner"></div>
            <p class="loader-text">Cargando...</p>
        </div>
    </div>

    <!--FAVORITOS POPUP-->
    <div id="favoritos-popup" class="favoritos-popup oculto">
        <h3>Favoritos</h3>
        <ul id="favoritos-lista" class="favoritos-lista"></ul>
    </div>

    <script src="../js/global.js"></script>
</body>

</html>